<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.android.luelinksviewer"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="4" />

    <application android:icon="@drawable/icon" 
    	android:label="@string/app_name"
    	android:theme="@style/Theme.GreenDroid"
    	android:name="LuelinksViewer">
        <activity android:name=".MainView"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name=".Login" android:label="@string/app_name"></activity>
		<activity android:name=".LuelinksViewer" android:label="@string/app_name"></activity>
		<activity android:name=".TopicList" android:label="@string/app_name"></activity>
		<activity android:name=".BoardList" android:label="@string/app_name"></activity>
		<activity android:name=".TopicViewer" android:label="@string/app_name"></activity>
		<activity android:name=".DisplayTopic" android:label="@string/app_name"></activity>
		<activity android:name=".SubmitPoll" android:label="@string/app_name"></activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
</manifest>